@tailwind base;
@tailwind components;
@tailwind utilities;

th,
td {
  padding: 6px 12px;
  text-align: left;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;

}

input:focus {
  border: none;
  outline: none;
}